#!/bin/bash

SPOOL=/var/spool/usbip/bind

if [[ $1 == "-q" ]]; then
  exec &>/dev/null
fi

touch $SPOOL

while [[ -e $SPOOL ]]; do
  {% for device in usbip_server_devices %}
usbip bind -b {{ device.bus_id }}
  {% endfor %}

  sleep 10
done

{% for device in usbip_server_devices %}
usbip unbind -b {{ device.bus_id }}
{% endfor %}
